:root {
   accent-color: #FBF138;
}
body {
   font-family: "Montserrat", sans-serif;
   color: #2B3541;
}
a {
   text-decoration: none;
   color: #2B3541;
   padding: 0;
   margin: 0;
}
.header {
}
.container {
   width: 100%;
   max-width: 1142px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
}
.header-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 52px;
   padding-bottom: 28px;
}
.logo {
   display: block;
   width: 97px;
   height: 30px;
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 54px;
   margin-right: 327px;
   font-weight: 400;
   font-size: 18px;
   
}

.header-mail {
}
